.tab-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tab-container .tab-header ul{
    display: flex;
    gap: 5px;
    padding: 0px;
}

.tab-container .tab-header ul li{
    cursor: pointer;
}

.tab-container .tab-header ul li::marker{
    content: '';
}

.tab-container .tab-header ul li button{
    padding: 0.5rem;
    outline: 1px solid black;
    background-color: transparent;
}

.tab-container .tab-header ul li.active{
    color: white;
    background-color: red;
}

.tab-container .tab-header ul li.active button{
    color: white;
}