.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.product-desc {
  display: flex;
  justify-content: space-between;
}
